.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  float: left;
}

.App-header {
  background-color: #222;
  height: 100px;
  /* padding: 5px; */
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: white;
  float: left;
}

.App-intro {
  font-size: large;
}

.navbar {
  margin-top: auto;
}
.FormField__Link {
  color: #66707d;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 5px;
}
#top-filler {
  margin-bottom: auto;
}

#nav-container {
  align-items: flex-end;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
