option_settings:
  aws:elasticbeanstalk:application:environment:
    API_ENDPOINT: www.example.com/api
    USER_SALT: 10
    ACCESS_KEY_ID: AKIA3Y5JKTQ2VYNW52RJ
    SECRET_ACCESS_KEY: 28EqUy+O1ywXwwDWHnW5tKalMWFPsUFoR6W5N41V
    BUCKET: annotationapp-images
    JWT_SECRET: =!53cr3tk3y
    DB_PASSWORD: 12345678
    RDS_PASSWORD: fluxauto123
    RDS_USER: autosense
    RDS_DATABASE: AnnotationTool
    RDS_HOST: autosense.cfdmuk17wvvs.ap-south-1.rds.amazonaws.com
    SOURCE_EMAIL: fluxannotations@gmail.com
    EMAIL_PASSWORD: Flux@ut0
    RESET_LINK: http://localhost:3000/reset
    MONGO_USER: annotation
    MONGO_PASSWORD: fluxauto123
    MONGO_HOST: 13.127.127.240
    MONGO_DATABASE: annotation
    NODE_ENV: production